$margin-bottom: 35;
$margin: 80;

.about {
    margin: rem($margin) 0px;

    &>.container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 rem(30);
        justify-content: center;
    }

    &-img {
        // margin-right: 48px; 
        width: 35%;
        min-width: rem(358);

        &>img {
            width: rem(358);
        }
    }

    &-text {
        width: 65%;

        &>p {
            font-size: rem(14);
            letter-spacing: 0.02rem;
            line-height: rem(23);
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            margin-bottom: rem(42);
        }
    }
}
