.order {
    position: relative;
    
    &-bg {
        background: $dark;
        position: absolute;
        top: rem(112);
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &-title {
        display: flex;
        align-items: flex-end;

        &-item {
            width: 50%;
            text-align: center;
        }

        &-text>h3 {
            // margin-bottom: 0;;
        }

        &-image {
            &>img {
                max-height: 324px;
            }
        }
    }
}