.works {
    background: $dark;

    &>.container {
        position: relative;
        padding: rem(45) 0;

        &>h3 {
            text-align: center;
            margin-bottom: rem(45);
        }
    }

    &-btn-block {
        text-align: center;
    }
}