@import "fonts";
@import "vars";
@import "reset";
@import "_functions/rem";

@import "header";
@import "nav";
@import "about";

.container {
    max-width: rem(1140);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    position: relative;
    color: $pirple;
    font-family: "Pacifico", serif;
    text-decoration: none;
    font-size: rem(21);

    &-before {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $pirple;
        top: rem(-9);
        left: rem(-9);
        transition: all.3s linear;
        z-index: -1;
    }

    &-text {
        display: block;
        background: $white;
        padding: rem(18) rem(50);
        box-sizing: border-box;
        border: rem($btn-border-width) solid $pirple;
        transition: transform.3s linear;

        &-t {
            display: block;
            transition: transform.3s linear;
        }
    }

    &:hover {
        .btn-before {
            top: 0px;
            left: 0px;
        }

        .btn-text {
            transform: translate(-2px, -2px);

            &-t {
                transform: translateY(-3px);
            }
        }
    }
}

@import "media"; // Всегда в конце
